S3method(print,wcl_client)
export(wcl_actors)
export(wcl_actor_distance)
export(wcl_actor_movement)
export(wcl_add_relative_time)
export(wcl_aura_uptime)
export(wcl_cast_interruptions)
export(wcl_client)
export(wcl_distinct_fights)
export(wcl_events)
export(wcl_filter_abilities)
export(wcl_filter_and)
export(wcl_filter_types)
export(wcl_fights)
export(wcl_join_actors)
export(wcl_join_players)
export(wcl_player_details)
export(wcl_query)
export(wcl_query_custom)
export(wcl_rankings)
export(wcl_rankings_set)
export(wcl_report_rankings)
export(wcl_report_code)
export(wcl_reports)
export(wcl_spell_travel_time)
export(wcl_request)
export(wcl_token)
export(wcl_zone_fights)
